# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
build/
dist/

# Inno Setup
Installer/output/
Installer/dist/
Installer/配布時サムネとか

# VS Code
.vscode/

# Environment
.env
venv/
env/

icon/